<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>

<body class="gray-bg">
	<div class="container-div ui-layout-center">
		<!--模糊查询模块-->
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="enterpriseTargetMakeLineModel-form">
					<div class="select-list">
						<ul>
							<li>
								标记线名称：<input type="text" name="lineName"/>
							</li>
							<li>
								企业名称：
								<select name="enterpriseName">
									<option value="">所有</option>
									<option th:each="enterprise : ${enterpriseList}" th:text="${enterprise.name}" th:value="${enterprise.enterpriseId}"></option>
								</select>
							</li>
							<li>
								标记值：<input type="text" name="markValue"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
	        	<a class="btn btn-success" onclick="$.operate.exportETMLModelPage()">
	                <i class="fa fa-plus"></i> 导入
	            </a>
				<a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="enterprise:targetMakeLine:save">
	                <i class="fa fa-plus"></i> 自定义
	            </a>
	             <a class="btn btn-primary btn-edit disabled" onclick="$.operate.editTab()" shiro:hasPermission="enterprise:targetMakeLine:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
	            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="enterprise:targetMakeLine:remove">
	                <i class="fa fa-remove"></i> 删除
	            </a>
	        </div>
	        <!--查询结果显示table-->
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div th:include="include :: footer"></div>
	<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('enterprise:targetMakeLine:edit')}]];
		var removeFlag = [[${@permission.hasPermi('enterprise:targetMakeLine:remove')}]];
		var prefix = ctx + "enterprise/targetMakeLine";

        //对查询结果显示的table进行控制
		$(function() {
		    var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
            queryCustomerList();
		});

		function queryCustomerList() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        modalName: "企业指标标记线模板",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'enterpriseTargetMakeLineModelId',
		            title: '企业指标标记线模板编号',
					visible: false
		        },
		        {
		            field: 'enterpriseReportId',
		            title: '企业报告模板编号',
					visible: false
		        },
		        {
		            field: 'enterpriseTargetTemplateId',
		            title: '企业指标模板编号',
					visible: false
		        },
		        {
		            field: 'targetMakeLineModelId',
		            title: '平台指标标记线模型编号',
					visible: false
		        },
		        {
                    field: 'targetModelTemplateId',
		        	title: '平台指标展示模型编号',
					visible: false
		        },
				{
					field: 'enterpriseId',
					title: '企业编号',
					visible: false
				},
				{
					field: 'targetModelId',
					title: '平台指标模型编号',
					visible: false
				},
				{
					field: 'lineName',
					title: '标记线名称'
				},
				{
					field: 'markValue',
					title: '标记值'
				},
				{
					field: 'description',
					title: '描述'
				},
				{
					field: 'lastChangeDate',
					title: '最后改变日期',
					visible: false
				},
				{
					field: 'lastChanger',
					title: '最后改变人',
					visible: false
				},

		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.enterpriseTargetMakeLineModelId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.enterpriseTargetMakeLineModelId + '\')"><i class="fa fa-remove"></i>删除</a> ');
		                return actions.join('');
		            }
		        }]
		    };
		    //对页面所有进行初始化
		    $.table.init(options);
		}
	</script>
</body>
</html>