<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.hw.report.mapper.EntUserReceiveReportRelationMapper">

    <!--实体映射-->
    <resultMap id="entUserReceiveReportRelation" type="com.suixingpay.hw.report.domain.EntUserReceiveReportRelation">
        <id property="id" column="id" />
        <result property="enterpriseId" column="enterprise_id" />
        <result property="enterpriseReportTemplateId" column="enterprise_report_template_id" />
        <result property="enterpriseUserId" column="enterprise_user_id" />
        <result property="email" column="email" />
        <result property="creater" column="creater" />
        <result property="createDate" column="create_date" />
        <result property="userType" column="user_type" />
    </resultMap>

    <!--表名-->
    <sql id="table">
		t_et_user_receive_report_relation
	</sql>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		id,enterprise_id,enterprise_report_template_id,enterprise_user_id,email,creater,create_date,user_type
	</sql>

    <!-- 通用查询条件-->
    <sql id="dynamicWhere">
        <where>
            1=1
            <if test="id != null and id != ''"> AND id = #{id} </if>
            <if test="enterpriseId != null and enterpriseId != ''"> AND enterprise_id = #{enterpriseId} </if>
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> AND enterprise_report_template_id = #{enterpriseReportTemplateId} </if>
            <if test="enterpriseUserId != null and enterpriseUserId != ''"> AND enterprise_user_id = #{enterpriseUserId} </if>
            <if test="email != null and email != ''"> AND email = #{email} </if>
            <if test="userType != null and userType != ''"> AND user_type = #{userType} </if>

        </where>
    </sql>

    <!-- 查询所有数据 -->
    <select id="findAll" resultMap="entUserReceiveReportRelation">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        <include refid="table" />
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="findOneById" resultMap="entUserReceiveReportRelation" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        <include refid="table" />
        WHERE enterprise_report_template_id = #{enterpriseReportTemplateId}
    </select>

    <!-- 查询（根据实体查询） -->
    <select id="find" resultMap="entUserReceiveReportRelation">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        <include refid="table" />
        <include refid="dynamicWhere"/>
    </select>

    <resultMap id="findByEntReportTempIdResult" type="com.suixingpay.hw.report.domain.EntUserReceiveReportRelation">
        <id property="id" column="id" />
        <result property="enterpriseId" column="enterprise_id" />
        <result property="enterpriseReportTemplateId" column="enterprise_report_template_id" />
        <result property="enterpriseUserId" column="enterprise_user_id" />
        <result property="email" column="email" />
        <result property="creater" column="creater" />
        <result property="createDate" column="create_date" />
        <result property="userType" column="user_type" />
        <result property="enterpriseUserName" column="enterprise_user_name" />
    </resultMap>

    <select id="findByEntReportTempId" resultMap="findByEntReportTempIdResult" parameterType="java.lang.Integer">
        select t.id,t.enterprise_id,t.enterprise_report_template_id,t.enterprise_user_id,t.email,t.creater,t.create_date,t.user_type,teu.name as enterprise_user_name
        from t_et_user_receive_report_relation t
        left join t_enterprise_user teu on t.enterprise_user_id = teu.user_id
        where enterprise_report_template_id = #{entReportTempId}
    </select>

    <!-- 查询总数（根据实体查询） -->
    <select id="count" resultMap="entUserReceiveReportRelation" resultType="java.lang.Long">
        SELECT COUNT(*) FROM
        <include refid="table" />
        <include refid="dynamicWhere"/>
    </select>

    <!--删除：根据主键ID删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM
        <include refid="table" />
        WHERE id = #{id}
    </delete>

    <!--批量删除：根据主键ID删除-->
    <delete id="deleteBatchIds">
        DELETE FROM
        <include refid="table" />
        WHERE enterprise_report_template_id in
        <foreach collection="pkList" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_et_user_receive_report_relation
        ( <include refid="Base_Column_List" /> )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.enterpriseId},
            #{item.enterpriseReportTemplateId},
            #{item.enterpriseUserId},#{item.email},#{item.creater},#{item.createDate},#{item.userType})
        </foreach>
    </insert>

    <!-- 添加 （匹配有值的字段）-->
    <insert id="add" parameterType="com.suixingpay.hw.enterprise.domain.EnterpriseReportTemplate">
        INSERT INTO
        <include refid="table" />
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> enterprise_report_template_id, </if>
            <if test="enterpriseId != null and enterpriseId != ''"> enterprise_id, </if>
            <if test="reportTemplateId != null and reportTemplateId != ''"> report_template_id, </if>
            <if test="name != null and name != ''"> name, </if>
            <if test="reportAlias != null and reportAlias != ''"> report_alias, </if>
            <if test="description != null and description != ''"> description, </if>
            <if test="creater != null and creater != ''"> creater, </if>
            <if test="createDate != null"> create_date, </if>
            <if test="state != null and state != ''"> state, </if>
            <if test="audiences != null and audiences != ''"> audiences, </if>
            <if test="type != null and type != ''"> type, </if>
            <if test="belongOrg != null and belongOrg != ''"> belongOrg, </if>
            <if test="belongOrgLevel != null and belongOrgLevel != ''"> belong_org_level, </if>
            <if test="makeCycle != null and makeCycle != ''"> make_cycle, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> #{enterpriseReportTemplateId}, </if>
            <if test="enterpriseId != null and enterpriseId != ''"> #{enterpriseId}, </if>
            <if test="reportTemplateId != null and reportTemplateId != ''"> #{reportTemplateId}, </if>
            <if test="name != null and name != ''"> #{name}, </if>
            <if test="reportAlias != null and reportAlias != ''"> #{reportAlias}, </if>
            <if test="description != null and description != ''"> #{description}, </if>
            <if test="creater != null and creater != ''"> #{creater}, </if>
            <if test="createDate != null"> #{createDate}, </if>
            <if test="state != null and state != ''"> #{state}, </if>
            <if test="audiences != null and audiences != ''"> #{audiences}, </if>
            <if test="type != null and type != ''"> #{type}, </if>
            <if test="belongOrg != null and belongOrg != ''"> #{belongOrg}, </if>
            <if test="belongOrgLevel != null and belongOrgLevel != ''"> #{belongOrgLevel}, </if>
            <if test="makeCycle != null and makeCycle != ''"> #{makeCycle}, </if>
        </trim>
    </insert>

    <!-- 修 改-->
    <update id="updateById" parameterType="com.suixingpay.hw.enterprise.domain.EnterpriseReportTemplate">
        UPDATE
        <include refid="table" />
        <set>
            <if test="enterpriseId != null and enterpriseId != ''">  enterprise_id = #{enterpriseId}, </if>
            <if test="reportTemplateId != null and reportTemplateId != ''">  report_template_id = #{reportTemplateId}, </if>
            <if test="name != null and name != ''">  name = #{name} ,</if>
            <if test="reportAlias != null and reportAlias != ''">  report_alias = #{reportAlias}, </if>
            <if test="description != null and description != ''">  description = #{description}, </if>
            <if test="creater != null and creater != ''">  creater = #{creater} ,</if>
            <if test="createDate != null">  create_date = #{createDate}, </if>
            <if test="state != null and state != ''">  state = #{state}, </if>
            <if test="audiences != null and audiences != ''">  audiences = #{audiences} ,</if>
            <if test="type != null and type != ''">  type = #{type} ,</if>
            <if test="belongOrg != null and belongOrg != ''">  belongOrg = #{belongOrg} ,</if>
            <if test="belongOrgLevel != null and belongOrgLevel != ''">  belong_org_level = #{belongOrgLevel}, </if>
            <if test="makeCycle != null and makeCycle != ''">  make_cycle = #{makeCycle}, </if>
        </set>
        WHERE enterprise_report_template_id = #{enterpriseReportTemplateId}
    </update>

</mapper>