<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.hw.report.mapper.ReportManageMapper">
    <resultMap id="reportInfoList" type="com.suixingpay.hw.report.domain.ReportInfo">
        <id     property="reportId"         column="enterprise_report_id" />
        <result property="reportName"       column="report_name" />
        <result property="enterpriseId"     column="enterprise_id" />
        <result property="reportTemplateId" column="report_template_id" />
        <result property="entReportTempId" column="enterprise_report_template_id" />
        <result property="state"            column="state" />
        <result property="publishState"     column="publish_state" />
        <result property="makeDate"         column="make_date" />
        <result property="makeCycle"        column="make_cycle" />
        <result property="publishDate"      column="publish_date" />
    </resultMap>

    <resultMap id="targetDataList" type="com.suixingpay.hw.report.domain.ReportInfo">
        <id     property="reportId"               column="enterprise_report_id" />
        <result property="enterpriseTargetDataId" column="enterprise_target_data_id" />
        <result property="enterpriseId"           column="enterprise_id" />
        <result property="targetDataFullContent"  column="targetDataFullContent" />
        <result property="groupName"              column="group_name" />
        <result property="reportName"             column="report_name" />
        <result property="reportPublishContent"             column="reportPublishContent" />
        <result property="targetDataPublishContent"             column="targetDataPublishContent" />
    </resultMap>

    <sql id="listColumn">
        report.enterprise_report_Id,report.publish_date,report.enterprise_report_template_id,report.report_name,report.publish_state,report.state,report.make_date,report.make_cycle,report.report_template_id,report.enterprise_id
    </sql>

    <select id="selectReportInfoList" parameterType="com.suixingpay.hw.report.domain.ReportInfo" resultMap="reportInfoList">
        select <include refid="listColumn"/>
        from t_enterprise_report report
        where 1 = 1
        <if test="reportId != null and reportId != ''">
             AND report.enterprise_report_id = #{reportId}
        </if>
        <if test="enterpriseId != null and enterpriseId != ''">
            AND report.enterprise_id = #{enterpriseId}
        </if>
        <if test="state != null and state != ''">
            AND report.state = #{state}
        </if>
        <if test="publishState != null and publishState != ''">
            AND report.publish_state = #{publishState}
        </if>
        <if test="params.makeBeginTime != null and params.makeBeginTime != ''"><!-- 生成时间：开始时间检索 -->
            AND date_format(make_date,'%Y-%m-%d') &gt;= date_format(#{params.makeBeginTime},'%Y-%m-%d')
        </if>
        <if test="params.makeEndTime != null and params.makeEndTime != ''"><!-- 生成时间：结束时间检索 -->
            AND date_format(make_date,'%Y-%m-%d') &lt;= date_format(#{params.makeEndTime},'%Y-%m-%d')
        </if>
        <if test="params.publishBeginTime != null and params.publishBeginTime != ''"><!-- 发布时间：开始时间检索 -->
            AND date_format(publish_date,'%Y-%m-%d') &gt;= date_format(#{params.publishBeginTime},'%Y-%m-%d')
        </if>
        <if test="params.publishEndTime != null and params.publishEndTime != ''"><!-- 发布时间：结束时间检索 -->
            AND date_format(publish_date,'%Y-%m-%d') &lt;= date_format(#{params.publishEndTime},'%Y-%m-%d')
        </if>
        <if test="makeCycle != null and makeCycle != ''">
            AND report.make_cycle = #{makeCycle}
        </if>
    </select>

<!--    <select id="selectReportTargetDataList" parameterType="java.lang.Integer" resultMap="targetDataList">
        select report.enterprise_report_Id,
               target.enterprise_target_data_id,
               reportPub.content as reportDescContent,
               ent.name,
               targetFullCon.content as targetDataFullContent
        from t_enterprise_report report
               left join t_enterprise ent on report.enterprise_id = ent.enterprise_id
               left join t_enterprise_report_publish_info reportPub on report.enterprise_report_Id = reportPub.enterprise_report_Id
               left join t_report_template reportTemp on report.report_template_id = reportTemp.report_template_id
               left join t_enterprise_target_data target on report.enterprise_report_Id = target.enterprise_report_Id
               left join t_enterprise_target_data_full_content targetFullCon on target.enterprise_target_data_id = targetFullCon.enterprise_target_data_id
        where report.enterprise_report_id = #{reportId}
    </select>-->

    <!-- TODO 暂时查询 belong_org_level='01' and part_content_id is null 数据-->
    <select id="selectReportTargetDataList" parameterType="java.lang.Integer" resultMap="targetDataList">
        select
           tett.group_name,
           ter.report_name,
           tetdfc.enterprise_id,
           tetdfc.enterprise_report_id,
           tetdfc.enterprise_target_data_id,
           tetdfc.full_content_id,
           tetdfc.content as targetDataFullContent,
           terpi.content as reportPublishContent,
           tetdpi.content as targetDataPublishContent
        from t_enterprise_report ter
                left join t_enterprise_target_data tetd on ter.enterprise_report_Id = tetd.enterprise_report_id
                left join t_enterprise_target_data_full_content tetdfc on tetd.enterprise_target_data_id = tetdfc.enterprise_target_data_id
                left join t_enterprise_target_template tett on tetd.enterprise_target_template_Id = tett.enterprise_target_template_Id
                left join t_enterprise_report_publish_info terpi  on tetd.enterprise_report_id = terpi.enterprise_report_Id
                left join t_enterprise_target_data_publish_info tetdpi on tetd.enterprise_target_data_id = tetdpi.enterprise_target_data_id
        where tetd.enterprise_report_id=#{reportId} and tetd.belong_org_level='01' and tetd.part_content_id is null
        group by tetdfc.full_content_id
        order by tett.sn
    </select>

    <insert id="batchInsertTargetDataPublishInfo" parameterType="java.util.Map">
        insert into t_enterprise_target_data_publish_info
        (
        target_publish_info_id, enterprise_target_data_id, content
        )
        VALUES
        <foreach collection="params" item="value" index="key" separator=",">
              (#{key}, #{value.enterpriseTargetDataId},#{value.targetDataPublishContent})
        </foreach>
    </insert>

    <update id="updateReportPublishState">
        update t_enterprise_report
        <set>
            <if test="publisher != null and publisher != ''">publisher = #{publisher},</if>
            publish_date = sysdate(),
            publish_state = #{publishState}
        </set>
        where enterprise_report_id = #{enterpriseReportId}
    </update>

    <update id="updateEnterpriseTargetDataPublishState" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_enterprise_target_data
            <set>
                publisher = #{item.publisher, jdbcType=INTEGER},
                publish_date = sysdate(),
                publish_state = #{item.publishState}
            </set>
            where enterprise_target_data_id = #{item.enterpriseTargetDataId, jdbcType=INTEGER}
        </foreach>
    </update>

    <insert id="insertEnterpriseReportPublishInfo">
        insert into t_enterprise_report_publish_info
            (report_publish_info_id, content, enterprise_report_Id)
        values
            (#{reportPublishInfoId, jdbcType=INTEGER}, #{reportPublishContent, jdbcType=CHAR}, #{enterpriseReportId, jdbcType=INTEGER})
    </insert>

    <select id="selectEntReportByEntId" parameterType="java.lang.Integer" resultMap="reportInfoList">
        select enterprise_report_Id, report_template_id, enterprise_id, make_cycle, make_date, state, publish_state, report_name
        from t_enterprise_report
        where enterprise_id = #{enterpriseId}
    </select>

    <!-- 删除：报告发布表-->
    <select id="deleteReportPublishInfoByReportId" parameterType="java.lang.Integer">
        delete from t_enterprise_report_publish_info
        where enterprise_report_Id = #{reportId}
    </select>

    <!-- 删除：报告对应的指标发布表-->
    <select id="deleteTargetPublishInfoByTargetIds">
        delete from t_enterprise_target_data_publish_info
        WHERE enterprise_target_data_id in
        <foreach collection="ids" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>
    </select>

</mapper>