<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="form-content">
    <form id="form-reportTemplate-add" class="form-horizontal">
        <h4 class="form-header h4">企业报告模板基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>平台报告模型：</label>
                    <div class="col-sm-6">
                        <input name="reportTemplateId" class="form-control reportTempId" type="hidden">
                        <input class="form-control reportTempName" placeholder="请点击右侧按钮进行选择" readonly required>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-success btn-sm" onclick="$.operate.selectReportModel('平台报告模型','toAddReportModelPage')">
                            <i class="fa fa-plus"></i> 请选择
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告名称：</label>
                    <div class="col-sm-8">
                        <input name="name" autocomplete="off" placeholder="与平台报告模型名称一致" class="form-control entReportTempName" type="text" maxlength="40" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">报告别名：</label>
                    <div class="col-sm-8">
                        <input name="reportAlias" autocomplete="off" placeholder="请输入企业报告模板别名" class="form-control" type="text" maxlength="40">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>生成周期：</label>
                    <div class="col-sm-8">
                        <input autocomplete="off" placeholder="与平台报告模型生成周期一致" class="form-control entReportMakeCycleChinese" type="text" readonly>
                        <input name="makeCycle" class="entReportMakeCycle" type="text" hidden>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属层级：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="belongOrgLevel" class="form-control m-b" th:with="type=${@fangCloudDict.getType('EnterpriseBelongOrgLevel')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告状态：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="state" class="form-control m-b" th:with="type=${@fangCloudDict.getType('ReportTypeState')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告受众：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="audiences" class="form-control m-b" th:with="type=${@fangCloudDict.getType('ReportAudiences')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告类型(是否首页)：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="type" class="form-control m-b" th:with="type=${@fangCloudDict.getType('ReportType')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属企业：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <input name="enterpriseId" type="hidden" th:value="${enterpriseId}">
                            <select class="form-control m-b" th:with="enterpriseList=${@platformDict.getEnterpriseList()}" disabled>
                                <option th:each="enterprise : ${enterpriseList}" th:text="${enterprise.name}" th:value="${enterprise.enterpriseId}" th:selected="${enterpriseId eq enterprise.enterpriseId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属组织：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select class="form-control m-b" name="belongOrg" th:with="orgList=${orgList}" required>
                                <option value="">未选择</option>
                                <option th:each="org : ${orgList}" th:text="${org.name}" th:value="${org.orgId}">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">报告描述：</label>
                    <div class="col-sm-8">
                        <input name="description" autocomplete="off" placeholder="请输入描述信息" class="form-control" type="text" maxlength="200">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    var makeCycleData = [[${@fangCloudDict.getType('TargetModelMakeCycle')}]];
    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-reportTemplate-add").serializeArray();
            $.operate.saveTab(ctx + "enterprise/reportTemplate/save", data);
        }
    }

    function changeDisplay(obj) {
        $('.reportTempId').attr("value", obj.reportTemplateId);
        $('.reportTempName').attr("value", obj.name);

        $('.entReportTempName').attr("value", obj.name);
        $('.entReportMakeCycleChinese').attr("value", formatterData(makeCycleData, obj.makeCycle));
        $('.entReportMakeCycle').attr("value", obj.makeCycle);
    }

    function formatterData(data, value) {
        var actions = [];
        $.each(data, function(index, item) {
            if (item.value == ('' + value)) {
                actions.push(item.valueDesc);
                return false;
            }
        });
        return actions.join(value);
    }

</script>
</body>
</html>
