<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="form-content">
    <form class="form-horizontal" id="form-targetModel-edit" th:object="${targetTemplate}">
        <input name="enterpriseTargetTemplateId"  type="hidden"  th:field="*{enterpriseTargetTemplateId}" />
        <h4 class="form-header h4">企业指标模板基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>平台指标模型：</label>
                    <div class="col-sm-8">
                        <input autocomplete="off" class="form-control targetModelChinese" type="text" th:value="${targetModelName}" readonly>
                        <input name="targetModelId" type="text" th:value="${targetModelId}" hidden>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>展现形式：</label>
                    <div class="col-sm-8">
                        <input autocomplete="off" class="form-control showWayChinese" type="text" readonly>
                        <input name="showWay" class="showWay" type="text" th:field="*{showWay}" hidden>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>平台指标展示模型：</label>
                    <div class="col-sm-8">
                        <input id="targetModelTemplateName" autocomplete="off" placeholder="请先选择平台指标模型和展示形式" class="form-control" type="text" th:value="${targetModelTempName}" required readonly>
                        <input id="targetModelTemplateId" name="targetModelTemplateId" type="text" th:field="*{targetModelTemplateId}" hidden>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>指标名称：</label>
                    <div class="col-sm-8">
                        <input name="name" autocomplete="off" placeholder="请输入企业指标模板名称" class="form-control targetName" type="text" maxlength="20" th:field="*{name}" required readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">group_name：</label>
                    <div class="col-sm-8">
                        <input name="groupName" autocomplete="off" placeholder="请输入group_name" class="form-control" type="text" th:field="*{groupName}" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>模板内容：</label>
                    <div class="col-sm-8">
                        <textarea id="templateContentArea" rows="20" cols="50%" style="resize: none"></textarea>
                        <input id="templateContent" name="templateContent" type="text" th:field="*{templateContent}" hidden>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>模板全量内容：</label>
                    <div class="col-sm-8">
                        <textarea id="fullTemplateContentArea" rows="20" cols="50%" style="resize: none"></textarea>
                        <input id="fullTemplateContent" name="fullTemplateContent" type="text" th:field="*{fullTemplateContent}" hidden>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">
    var entTargetTemplate = [[${targetTemplate}]];
    $(function () {

        changeDisplay(entTargetTemplate);

        var templateContent = $('#templateContent').val();
        var fullTemplateContent = $('#fullTemplateContent').val();
        try {
            $('#templateContentArea').val(JSON.stringify(JSON.parse(templateContent), null, 4));
        }catch (e) {
            $('#templateContentArea').val(templateContent);
        }
        try {
            $('#fullTemplateContentArea').val(JSON.stringify(JSON.parse(fullTemplateContent), null, 4));
        }catch (e) {
            $('#fullTemplateContentArea').val(fullTemplateContent);
        }
    });

    var targetShowWayData = [[${@fangCloudDict.getType('TargetShowWay')}]];

    function submitHandler() {
        if ($.validate.form()) {
            var templateContent = $('#templateContentArea').val();
            var fullTemplateContent = $('#fullTemplateContentArea').val();
            try {
                $('#templateContent').val(JSON.stringify(JSON.parse(templateContent)));
            }catch (e) {
                $.modal.alertWarning("模板内容不符合json格式");
                return;
            }
            try {
                $('#fullTemplateContent').val(JSON.stringify(JSON.parse(fullTemplateContent)));
            }catch (e) {
                $.modal.alertWarning("模板全量内容不符合json格式");
                return;
            }

            var data = $("#form-targetModel-edit").serializeArray();
            $.operate.saveTab(ctx + "enterprise/targetTemplate/editSave", data);
        }
    }

    function changeDisplay(entTargetTemplate) {
        $('.showWayChinese').attr("value", formatterData(targetShowWayData, entTargetTemplate.showWay));
    }

    function formatterData(data, value) {
        var actions = [];
        $.each(data, function(index, item) {
            if (item.value == ('' + value)) {
                actions.push(item.valueDesc);
                return false;
            }
        });
        return actions.join(value);
    }
</script>
</body>
</html>