<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="gray-bg">
<div class="container-div ui-layout-center">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="report-form">
                <div class="select-list">
                    <ul>
                        <li>
                            企业名称：
                            <select name="enterpriseId" id="enterpriseIdSelect" th:with="enterpriseList=${@platformDict.getEnterpriseList()}">
                                <option value="">所有</option>
                                <option th:each="enterprise : ${enterpriseList}" th:text="${enterprise.name}" th:value="${enterprise.enterpriseId}"></option>
                            </select>
                        </li>
                        <li>
                            报告名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            报告类型：
                            <select name="type" th:with="type=${@fangCloudDict.getType('ReportType')}">
                                <option value="">所有</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </li>
                        <li>
                            生成周期：
                            <select name="makeCycle" th:with="type=${@fangCloudDict.getType('TargetModelMakeCycle')}">
                                <option value="">所有</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        <li>
                            报告状态：
                            <select name="state" th:with="type=${@fangCloudDict.getType('ReportTypeState')}">
                                <option value="">所有</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </li>
                        <li>归属组织：
                            <select id="belongOrgSelect" name="belongOrg">
                                <option value="">所有</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="addEntReportTemp()" shiro:hasPermission="reportTemplate:add">
                <i class="fa fa-plus"></i> 新增
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>

<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('reportTemplate:edit')}]];
    var removeFlag = [[${@permission.hasPermi('reportTemplate:remove')}]];
    var addTargetFlag = [[${@permission.hasPermi('targetModel:add')}]];

    var audiencesData = [[${@fangCloudDict.getType('ReportAudiences')}]];
    var makeCycleData = [[${@fangCloudDict.getType('TargetModelMakeCycle')}]];
    var belongOrgLevelData = [[${@fangCloudDict.getType('EnterpriseBelongOrgLevel')}]];
    var stateData = [[${@fangCloudDict.getType('ReportTypeState')}]];
    var typeData = [[${@fangCloudDict.getType('ReportType')}]];
    var enterpriseData = [[${@platformDict.getEnterpriseList()}]];


    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });
        queryReportList();
    });

    function queryReportList() {
        var options = {
            url: ctx + "enterprise/reportTemplate/list",
            createUrl: ctx + "enterprise/reportTemplate/add/{id}",
            updateUrl: ctx + "enterprise/reportTemplate/edit/{id}",
            removeUrl: ctx + "enterprise/reportTemplate/remove",
            sortName: "createDate",
            sortOrder: "desc",
            modalName: "企业报告模板",
            columns: [
                {
                    field: 'enterpriseReportTemplateId',
                    title: '企业报告模板编号',
                    visible: false
                },
                {
                    field: 'enterpriseId',
                    title: '企业名称',
                    formatter: function (value, row, index) {
                        return $.table.exchangeEnterpriseDisplay(enterpriseData, value);
                    }
                },
                {
                    field: 'reportTemplateId',
                    title: '平台报告模型编号',
                    visible: false
                },
                {
                    field: 'name',
                    title: '报告名称'
                },
                {
                    field: 'reportAlias',
                    title: '报告别名'
                },
                {
                    field: 'description',
                    title: '描述',
                    visible: false
                },
                {
                    field: 'state',
                    title: '报告状态',
                    formatter: function (value, row, index) {
                        return $.table.selectFangCloudDictLabel(stateData, value);
                    }
                },
                {
                    field: 'type',
                    title: '报告类型',
                    formatter: function (value, row, index) {
                        return $.table.selectFangCloudDictLabel(typeData, value);
                    }
                },
                {
                    field: 'belongOrg',
                    title: '归属组织',
                    formatter: function(value, item, index) {
                        return $.table.selectFangCloudDictLabel(belongOrgLevelData, value);
                    },
                    visible: false
                },
                {
                    field: 'belongOrgLevel',
                    title: '归属层级',
                    formatter: function(value, item, index) {
                        return $.table.selectFangCloudDictLabel(belongOrgLevelData, value);
                    },
                    visible: false
                },
                {
                    field: 'audiences',
                    title: '受众',
                    align: 'center',
                    formatter: function(value, item, index) {
                        return $.table.selectFangCloudDictLabel(audiencesData, value);
                    },
                    visible: false
                },
                {
                    field: 'createDate',
                    title: '生成日期',
                    visible: false
                },
                {
                    field: 'makeCycle',
                    title: '生成周期',
                    align: 'center',
                    formatter: function(value, item, index) {
                        return $.table.selectFangCloudDictLabel(makeCycleData, value);
                    }
                },
                {
                    field: 'creater',
                    title: '创建人',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editTab(\'' + row.enterpriseReportTemplateId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.enterpriseReportTemplateId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        // actions.push('<a class="btn btn-primary btn-xs ' + addTargetFlag + '" href="#" onclick="$.operate.selectEnterpriseTargetTemp(\'企业指标模型\',\'toAddEnterpriseTargetTempPage/' + row.enterpriseReportTemplateId + '\')"><i class="fa fa-plus"></i>添加指标</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    //由 归属企业 触发 归属组织
    $('#enterpriseIdSelect').change(function () {
        var enterpriseId = $(this).children('option:selected').val();
        if ($.common.isEmpty(enterpriseId)) {
            $.modal.alertWarning("请先选择企业");
            return;
        }
        $.ajax({
            url: ctx + "getOrgList",
            type: "POST",
            data: "platformEntId=" +  enterpriseId,
            success: function (result) {
                console.log("result = ", result);
                var belongOrgSelect = document.getElementById('belongOrgSelect');
                belongOrgSelect.innerHTML = '';
                belongOrgSelect.append(new Option("所有", ""));
                $.each(result.orgList,function (index, org) {
                    belongOrgSelect.options.add(new Option(org.name,org.orgId));
                });
            }
        });
    });

    //添加 企业报告模板
    function addEntReportTemp() {
        var currentEnterpriseId = $("#enterpriseIdSelect").find("option:selected").val();
        if ($.common.isEmpty(currentEnterpriseId)) {
            $.modal.alertWarning("请先选择企业");
            return;
        }
        //进入 添加 企业报告模板页面
        $.operate.addTab(currentEnterpriseId);
    }
</script>
</body>
</html>
