<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="form-content">
    <form class="form-horizontal" id="form-reportTemplate-edit" th:object="${enterpriseReportTemplate}">
        <input name="enterpriseReportTemplateId"  type="hidden"  th:field="*{enterpriseReportTemplateId}" />
        <h4 class="form-header h4">企业报告模板基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>平台报告模型：</label>
                    <div class="col-sm-6">
                        <input name="reportTemplateId" class="form-control reportTempId" type="hidden" th:field="*{reportTemplateId}" required>
                        <input th:value="${reportTempName}" class="form-control reportTempName" placeholder="请点击右侧按钮进行选择" readonly>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-success btn-sm" onclick="$.operate.selectReportModel('平台报告模型','toAddReportModelPage')">
                            <i class="fa fa-plus"></i> 请选择
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告名称：</label>
                    <div class="col-sm-8">
                        <input name="name" autocomplete="off" placeholder="请输入企业报告模板名称" class="form-control entReportTempName" type="text" maxlength="40" th:field="*{name}" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">报告别名：</label>
                    <div class="col-sm-8">
                        <input name="name" autocomplete="off" placeholder="请输入企业报告模板别名" class="form-control" type="text" maxlength="40" th:field="*{reportAlias}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>生成周期：</label>
                    <div class="col-sm-8">
                        <input autocomplete="off" placeholder="与平台报告模型生成周期一致" class="form-control entReportMakeCycleChinese" type="text" readonly>
                        <input name="makeCycle" class="entReportMakeCycle" type="text" hidden>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属层级：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="belongOrgLevel" class="form-control m-b" th:with="type=${@fangCloudDict.getType('EnterpriseBelongOrgLevel')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}" th:field="*{belongOrgLevel}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告状态：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="state" class="form-control m-b" th:with="type=${@fangCloudDict.getType('ReportTypeState')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}" th:field="*{state}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告受众：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="audiences" class="form-control m-b" th:with="type=${@fangCloudDict.getType('ReportAudiences')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}" th:field="*{audiences}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>报告类型(是否首页)：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="type" class="form-control m-b" th:with="type=${@fangCloudDict.getType('ReportType')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}" th:field="*{type}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属企业：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="enterpriseId" id="enterpriseIdSelect" class="form-control m-b" th:with="enterprise=${@platformDict.getEnterpriseList()}" required>
                                <option value="">未选择</option>
                                <option th:each="platformDict : ${enterprise}" th:text="${platformDict.name}" th:value="${platformDict.enterpriseId}" th:field="*{enterpriseId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>归属组织：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select id="belongOrgSelect" name="belongOrg" class="form-control m-b" th:with="orgList=${orgList}" required>
                                <option value="">未选择</option>
                                <option th:each="org : ${orgList}" th:text="${org.name}" th:value="${org.orgId}" th:field="*{belongOrg}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>是否发布：</label>
                    <div class="col-sm-8">
                        <select name="isNeedPublish" class="form-control m-b" th:with="type=${@fangCloudDict.getType('ReportTemplateType')}" required>
                            <option value="">未选择</option>
                            <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}" th:field="*{isNeedPublish}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">报告描述：</label>
                    <div class="col-sm-8">
                        <input name="description" autocomplete="off" placeholder="请输入描述信息" class="form-control" type="text" maxlength="200" th:field="*{description}">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script  th:inline="javascript">
    var makeCycleData = [[${@fangCloudDict.getType('TargetModelMakeCycle')}]];

    $(function() {
        var entReportTemp = [[${enterpriseReportTemplate}]];
        $('.entReportMakeCycleChinese').attr("value", formatterData(makeCycleData, entReportTemp.makeCycle));
        $('.entReportMakeCycle').attr("value", entReportTemp.makeCycle);
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-reportTemplate-edit").serializeArray();
            $.operate.saveTab(ctx + "enterprise/reportTemplate/editSave", data);
        }
    }

    function changeDisplay(obj) {
        $('.reportTempId').attr("value", obj.reportTemplateId);
        $('.reportTempName').attr("value", obj.name);

        $('.entReportTempName').attr("value", obj.name);
        $('.entReportMakeCycleChinese').attr("value", formatterData(makeCycleData, obj.makeCycle));
        $('.entReportMakeCycle').attr("value", obj.makeCycle);
    }

    function formatterData(data, value) {
        var actions = [];
        $.each(data, function(index, item) {
            if (item.value == ('' + value)) {
                actions.push(item.valueDesc);
                return false;
            }
        });
        return actions.join(value);
    }

    //由 归属企业 触发 归属组织
    $('#enterpriseIdSelect').change(function () {
        var enterpriseId = $(this).children('option:selected').val();
        if ($.common.isEmpty(enterpriseId)) {
            $.modal.alertWarning("请选择归属企业");
            return;
        }

        //TODO 后期修改获取组织结构方式
        //var orgList = [[${@platformDict.getEntOrgList(enterpriseIdSelected)}]];
        $.ajax({
            url: ctx + "getOrgList",
            type: "POST",
            data: "platformEntId=" +  enterpriseId,
            success: function (result) {
                var belongOrgSelect = document.getElementById('belongOrgSelect');
                belongOrgSelect.innerHTML = '';
                belongOrgSelect.append(new Option("未选择", ""));
                $.each(result.orgList,function (index, org) {
                    belongOrgSelect.options.add(new Option(org.name,org.orgId));
                });
            }
        });
    });
</script>
</body>
</html>