<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.hw.enterprise.mapper.EnterpriseUserMapper">

    <!--实体映射-->
    <resultMap id="enterpriseUser" type="com.suixingpay.hw.enterprise.domain.EnterpriseUser">
        <!--用户id-->
        <id property="userId" column="user_id"/>
        <!--所属企业id-->
        <result property="enterpriseId" column="enterprise_id"/>
        <!--账号 = 邮箱-->
        <result property="account" column="account"/>
        <!--密码-->
        <result property="password" column="password"/>
        <!--姓名-->
        <result property="name" column="name"/>
        <!--手机号-->
        <result property="phone" column="phone"/>
        <!--邮箱-->
        <result property="email" column="email"/>
        <!--状态  00:正常  01:失效-企业服务已过期导致  02：冻结-企业管理员主动冻结-->
        <result property="state" column="state"/>
        <!--工号-->
        <result property="jobNumber" column="job_number"/>
        <!--微信号-->
        <result property="wxOpenId" column="wx_open_id"/>
        <!--微信头像 base64形式存储-->
        <result property="wxChatHead" column="wx_chatHead"/>
        <!--QQ号-->
        <result property="qicq" column="qicq"/>
        <!--创建时间-->
        <result property="createDate" column="create_date"/>
        <!--微信上次绑定时间-->
        <result property="wxBindingTime" column="wx_bindingTime"/>

    </resultMap>

    <!--表名-->
    <sql id="table">
		t_enterprise_user
	</sql>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		user_id,enterprise_id,account,password,name,phone,email,
		state,job_number,wx_open_id,wx_chatHead,qicq,create_date,wx_bindingTime
	</sql>


    <select id="findByEnterpriseId" resultMap="enterpriseUser" parameterType="java.lang.Integer">
        select <include refid="Base_Column_List" />
        from <include refid="table" />
        where enterprise_id=#{enterpriseId}
    </select>

    <select id="findByUserId" resultType="com.suixingpay.hw.enterprise.domain.EnterpriseUser" parameterType="java.lang.Integer">
        select user_id as userId, enterprise_id as enterpriseId , account, password, name, phone, email, state, job_number as jobNumber
        from t_enterprise_user
        where user_id=#{entUserId}
    </select>


</mapper>