<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.hw.enterprise.mapper.EnterpriseTargetTemplateMapper">

    <!--实体映射-->
    <resultMap id="enterpriseTargetTemplate" type="com.suixingpay.hw.enterprise.domain.EnterpriseTargetTemplate">
        <id property="enterpriseTargetTemplateId" column="enterprise_target_template_Id"/>
        <result property="enterpriseReportTemplateId" column="enterprise_report_template_id"/>
        <result property="targetModelTemplateId" column="target_model_template_id"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="showWay" column="show_way"/>
        <result property="name" column="name"/>
        <result property="templateContent" column="template_content"/>
        <result property="fullTemplateContent" column="full_template_content"/>
        <result property="belongQueue" column="belong_queue"/>
        <result property="sn" column="sn"/>
        <result property="groupName" column="group_name"/>
        <result property="makeCycle" column="make_cycle"/>
    </resultMap>

    <!--表名-->
    <sql id="table">
		t_enterprise_target_template
	</sql>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
		enterprise_target_template_Id,enterprise_report_template_id,target_model_template_id,enterprise_id,show_way,name,template_content,
		full_template_content,belong_queue,sn,group_name
	</sql>

    <sql id="columnList">
		target.enterprise_target_template_Id,target.enterprise_report_template_id,target.target_model_template_id,target.enterprise_id,
		target.show_way,target.name,target.template_content,target.full_template_content,target.belong_queue,target.sn,target.group_name,report.make_cycle
	</sql>

    <!-- 通用查询条件-->
    <sql id="dynamicWhere">
        <where>
          1=1
            <if test="enterpriseTargetTemplateId != null and enterpriseTargetTemplateId != ''">
                AND enterprise_target_template_Id = #{enterpriseTargetTemplateId}
            </if>
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''">
                AND enterprise_report_template_id = #{enterpriseReportTemplateId}
            </if>
            <if test="targetModelTemplateId != null and targetModelTemplateId != ''">
                AND target_model_template_id = #{targetModelTemplateId}
            </if>
            <if test="enterpriseId != null and enterpriseId != ''">AND enterprise_id = #{enterpriseId}</if>
            <if test="showWay != null and showWay != ''">AND show_way = #{showWay}</if>
            <if test="name != null and name != ''">AND name like concat('%', #{name}, '%')</if>
            <if test="belongQueue != null and belongQueue != ''">AND belong_queue = #{belongQueue}</if>
            <if test="sn != null and sn != ''">AND sn like concat('%', #{sn}, '%')</if>
            <if test="groupName != null and groupName != ''">AND group_name like concat('%', #{groupName}, '%')</if>
        </where>
    </sql>

    <sql id="dynamicWhereForFindList">
        <where>
            1=1
            <if test="enterpriseId != null and enterpriseId != ''">AND target.enterprise_id = #{enterpriseId}</if>
            <if test="makeCycle != null and makeCycle != ''">AND report.make_cycle = #{makeCycle}</if>
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''">
                AND target.enterprise_report_template_id = #{enterpriseReportTemplateId}
            </if>
            <if test="enterpriseTargetTemplateId != null and enterpriseTargetTemplateId != ''">
                AND target.enterprise_target_template_Id = #{enterpriseTargetTemplateId}
            </if>
            <if test="showWay != null and showWay != ''">AND target.show_way = #{showWay}</if>
        </where>
    </sql>

    <select id="findList" resultMap="enterpriseTargetTemplate">
        select <include refid="columnList"/>
        from t_enterprise_target_template target
        left join t_enterprise_report_template report on report.enterprise_report_template_id = target.enterprise_report_template_id
        <include refid="dynamicWhereForFindList"/>
    </select>

    <!-- 查询所有数据 -->
    <select id="findAll" resultMap="enterpriseTargetTemplate">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
    </select>

    <!-- 查询（根据主键ID查询） -->
    <select id="findOneById" resultMap="enterpriseTargetTemplate" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE enterprise_target_template_Id = #{enterpriseTargetTemplateId}
    </select>

    <!-- 查询（根据实体查询） -->
    <select id="find" resultMap="enterpriseTargetTemplate">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="dynamicWhere"/>
    </select>

    <!-- 查询总数（根据实体查询） -->
    <select id="count" resultMap="enterpriseTargetTemplate" resultType="java.lang.Long">
        SELECT COUNT(*) FROM
        <include refid="table"/>
        <include refid="dynamicWhere"/>
    </select>

    <!--删除：根据主键ID删除-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM
        <include refid="table"/>
        WHERE enterprise_target_template_Id = #{enterpriseTargetTemplateId}
    </delete>

    <!--批量删除：根据主键ID删除-->
    <delete id="deleteBatchIds">
        DELETE FROM
        <include refid="table"/>
        WHERE enterprise_target_template_Id in
        <foreach collection="ids" item="i" open="(" separator="," close=")">
            #{i}
        </foreach>
    </delete>

    <!--删除：根据平台指标展示模型编号删除-->
    <delete id="deleteByTargetModelTemplateId">
        DELETE FROM
        <include refid="table"/>
        WHERE target_model_template_id = #{targetModelTemplateId}
    </delete>

    <!-- 添加 （匹配有值的字段）-->
    <insert id="add" parameterType="com.suixingpay.hw.enterprise.domain.EnterpriseTargetTemplate">
        INSERT INTO
        <include refid="table"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseTargetTemplateId != null and enterpriseTargetTemplateId != ''">enterprise_target_template_Id,</if>
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''">enterprise_report_template_id,</if>
            <if test="targetModelTemplateId != null and targetModelTemplateId != ''">target_model_template_id,</if>
            <if test="enterpriseId != null and enterpriseId != ''">enterprise_id,</if>
            <if test="showWay != null and showWay != ''">show_way,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="templateContent != null and templateContent != ''">template_content,</if>
            <if test="fullTemplateContent != null and fullTemplateContent != ''">full_template_content,</if>
            <if test="belongQueue != null and belongQueue != ''">belong_queue,</if>
            <if test="sn != null and sn != ''">sn,</if>
            <if test="groupName != null and groupName != ''">group_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseTargetTemplateId != null and enterpriseTargetTemplateId != ''">#{enterpriseTargetTemplateId},</if>
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''">#{enterpriseReportTemplateId},</if>
            <if test="targetModelTemplateId != null and targetModelTemplateId != ''">#{targetModelTemplateId},</if>
            <if test="enterpriseId != null and enterpriseId != ''">#{enterpriseId},</if>
            <if test="showWay != null and showWay != ''">#{showWay},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="templateContent != null and templateContent != ''">#{templateContent},</if>
            <if test="fullTemplateContent != null and fullTemplateContent != ''">#{fullTemplateContent},</if>
            <if test="belongQueue != null and belongQueue != ''">#{belongQueue},</if>
            <if test="sn != null and sn != ''">#{sn},</if>
            <if test="groupName != null and groupName != ''">#{groupName},</if>
        </trim>
    </insert>

    <!-- 修 改-->
    <update id="updateById" parameterType="com.suixingpay.hw.enterprise.domain.EnterpriseTargetTemplate">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> enterprise_report_template_id =
                #{enterpriseReportTemplateId},
            </if>
            <if test="targetModelTemplateId != null and targetModelTemplateId != ''"> target_model_template_id =
                #{targetModelTemplateId},
            </if>
            <if test="enterpriseId != null and enterpriseId != ''"> enterprise_id = #{enterpriseId},</if>
            <if test="showWay != null and showWay != ''"> show_way = #{showWay},</if>
            <if test="name != null and name != ''"> name = #{name},</if>
            <if test="templateContent != null and templateContent != ''">template_content = #{templateContent},</if>
            <if test="fullTemplateContent != null and fullTemplateContent != ''">full_template_content = #{fullTemplateContent},</if>
            <if test="belongQueue != null and belongQueue != ''"> belong_queue = #{belongQueue},</if>
            <if test="sn != null and sn != ''"> sn = #{sn},</if>
            <if test="groupName != null and groupName != ''"> group_name = #{groupName},</if>
        </set>
        WHERE enterprise_target_template_Id = #{enterpriseTargetTemplateId}
    </update>

</mapper>