<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.hw.enterprise.mapper.EnterpriseReportTemplateMapper">

	<!--实体映射-->
	<resultMap id="enterpriseReportTemplate" type="com.suixingpay.hw.enterprise.domain.EnterpriseReportTemplate">
		<id property="enterpriseReportTemplateId" column="enterprise_report_template_id" />
		<result property="enterpriseId" column="enterprise_id" />
		<result property="reportTemplateId" column="report_template_id" />
		<result property="name" column="name" />
		<result property="reportAlias" column="report_alias" />
		<result property="description" column="description" />
		<result property="creater" column="creater" />
		<result property="createDate" column="create_date" />
		<result property="state" column="state" />
		<result property="audiences" column="audiences" />
		<result property="type" column="type" />
		<result property="belongOrg" column="belongOrg" />
		<result property="belongOrgLevel" column="belong_org_level" />
		<result property="makeCycle" column="make_cycle" />
		<result property="isNeedPublish" column="is_need_publish" />
		<result property="deptName" column="dept_Name" />
	</resultMap>

	<!--表名-->
	<sql id="table">
		t_enterprise_report_template
	</sql>

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		enterprise_report_template_id,enterprise_id,report_template_id,name,report_alias,description,creater,
		create_date,state,audiences,type,belongOrg,belong_org_level,make_cycle,is_need_publish
	</sql>

	<!-- 通用查询条件-->
	<sql id="dynamicWhere">
		<where>
			1=1
			<if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> AND enterprise_report_template_id like concat('%', #{enterpriseReportTemplateId}, '%')</if>
			<if test="enterpriseId != null and enterpriseId != ''"> AND enterprise_id like concat('%', #{enterpriseId}, '%') </if>
			<if test="reportTemplateId != null and reportTemplateId != ''"> AND report_template_id like concat('%', #{reportTemplateId}, '%') </if>
			<if test="reportAlias != null and reportAlias != ''"> AND report_alias like concat('%', #{reportAlias}, '%') </if>
			<if test="belongOrg != null and belongOrg != ''"> AND belongOrg = #{belongOrg} </if>
			<if test="name != null and name != ''"> AND name like concat('%', #{name}, '%') </if>
			<if test="description != null and description != ''"> AND description like concat('%', #{description}, '%') </if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(create_date,'%Y-%m-%d') &gt;= date_format(#{params.beginTime},'%Y-%m-%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(create_date,'%Y-%m-%d') &lt;= date_format(#{params.endTime},'%Y-%m-%d')
			</if>
			<if test="state != null and state != ''"> AND state = #{state} </if>
			<if test="audiences != null and audiences != ''"> AND audiences = #{audiences} </if>
			<if test="belongOrgLevel != null and belongOrgLevel != ''"> AND belong_org_level = #{belongOrgLevel} </if>
			<if test="type != null and type != ''"> AND type = #{type} </if>
			<if test="makeCycle != null and makeCycle != ''"> AND make_cycle = #{makeCycle} </if>
			<if test="isNeedPublish != null and isNeedPublish != ''"> AND is_need_publish = #{isNeedPublish} </if>
		</where>
	</sql>

	<!-- 查询所有数据 -->
	<select id="findAll" resultMap="enterpriseReportTemplate">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM 
		 <include refid="table" />
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="findOneById" resultMap="enterpriseReportTemplate" parameterType="java.lang.Integer">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM 
		 <include refid="table" />
		 WHERE enterprise_report_template_id = #{enterpriseReportTemplateId}
	</select>

	<!-- 查询（根据实体查询） -->
	<select id="find" resultMap="enterpriseReportTemplate">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM 
		 <include refid="table" />
		 <include refid="dynamicWhere"/>
		 order by make_cycle
	</select>

	<sql id="ColumnFindList">
		t1.enterprise_report_template_id,t1.enterprise_id,t1.report_template_id,t1.name,t1.report_alias,t1.description,t1.creater,
		t1.create_date,t1.state,t1.audiences,t1.type,t1.belongOrg,t1.belong_org_level,t1.make_cycle,t1.is_need_publish,t2.name as dept_Name
	</sql>

	<sql id="dynamicWhereForFindList">
		<where>
			1=1
			<if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> AND t1.enterprise_report_template_id = #{enterpriseReportTemplateId} </if>
			<if test="enterpriseId != null and enterpriseId != ''"> AND t1.enterprise_id = #{enterpriseId} </if>
			<if test="reportTemplateId != null and reportTemplateId != ''"> AND t1.report_template_id = #{reportTemplateId} </if>
			<if test="belongOrg != null and belongOrg != ''"> AND t1.belongOrg = #{belongOrg} </if>
			<if test="name != null and name != ''"> AND t1.name like concat('%', #{name}, '%') </if>
			<if test="makeCycle != null and makeCycle != ''"> AND t1.make_cycle = #{makeCycle} </if>
		</where>
	</sql>

	<select id="findList" resultMap="enterpriseReportTemplate">
		SELECT <include refid="ColumnFindList"/>
		FROM
		t_enterprise_report_template t1
		LEFT JOIN t_enterprise_org_tree t2 ON t1.enterprise_id = t2.platform_enterprise_id and t1.belongOrg = t2.org_id
		<include refid="dynamicWhereForFindList"/>
	</select>

	<!-- 查询总数（根据实体查询） -->
	<select id="count" resultMap="enterpriseReportTemplate" resultType="java.lang.Long">
		 SELECT COUNT(*) FROM 
		 <include refid="table" />
		 <include refid="dynamicWhere"/>
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteById" parameterType="java.lang.Integer">
		 DELETE FROM 
		 <include refid="table" />
		 WHERE enterprise_report_template_id = #{enterpriseReportTemplateId}
	</delete>

	<!--批量删除：根据主键ID删除-->
	<delete id="deleteBatchIds">
		 DELETE FROM 
		 <include refid="table" />
		 WHERE enterprise_report_template_id in 
		 <foreach collection="pkList" item="i" open="(" separator="," close=")">
			 #{i}
		 </foreach>
	</delete>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="add" parameterType="com.suixingpay.hw.enterprise.domain.EnterpriseReportTemplate">
		 INSERT INTO 
		 <include refid="table" />
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> enterprise_report_template_id, </if>
			<if test="enterpriseId != null and enterpriseId != ''"> enterprise_id, </if>
			<if test="reportTemplateId != null and reportTemplateId != ''"> report_template_id, </if>
			<if test="name != null and name != ''"> name, </if>
			<if test="reportAlias != null and reportAlias != ''"> report_alias, </if>
			<if test="description != null and description != ''"> description, </if>
			<if test="creater != null and creater != ''"> creater, </if>
			<if test="createDate != null"> create_date, </if>
			<if test="state != null and state != ''"> state, </if>
			<if test="audiences != null and audiences != ''"> audiences, </if>
			<if test="type != null and type != ''"> type, </if>
			<if test="belongOrg != null and belongOrg != ''"> belongOrg, </if>
			<if test="belongOrgLevel != null and belongOrgLevel != ''"> belong_org_level, </if>
			<if test="makeCycle != null and makeCycle != ''"> make_cycle, </if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="enterpriseReportTemplateId != null and enterpriseReportTemplateId != ''"> #{enterpriseReportTemplateId}, </if>
			<if test="enterpriseId != null and enterpriseId != ''"> #{enterpriseId}, </if>
			<if test="reportTemplateId != null and reportTemplateId != ''"> #{reportTemplateId}, </if>
			<if test="name != null and name != ''"> #{name}, </if>
			<if test="reportAlias != null and reportAlias != ''"> #{reportAlias}, </if>
			<if test="description != null and description != ''"> #{description}, </if>
			 <if test="creater != null and creater != ''"> #{creater}, </if>
			 <if test="createDate != null"> #{createDate}, </if>
			<if test="state != null and state != ''"> #{state}, </if>
			<if test="audiences != null and audiences != ''"> #{audiences}, </if>
			<if test="type != null and type != ''"> #{type}, </if>
			 <if test="belongOrg != null and belongOrg != ''"> #{belongOrg}, </if>
			<if test="belongOrgLevel != null and belongOrgLevel != ''"> #{belongOrgLevel}, </if>
			<if test="makeCycle != null and makeCycle != ''"> #{makeCycle}, </if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateById" parameterType="com.suixingpay.hw.enterprise.domain.EnterpriseReportTemplate">
		 UPDATE 
		 <include refid="table" />
 		 <set>
			 <if test="enterpriseId != null and enterpriseId != ''">  enterprise_id = #{enterpriseId}, </if>
			 <if test="reportTemplateId != null and reportTemplateId != ''">  report_template_id = #{reportTemplateId}, </if>
			 <if test="name != null and name != ''">  name = #{name} ,</if>
			 <if test="reportAlias != null and reportAlias != ''">  report_alias = #{reportAlias}, </if>
			 <if test="description != null and description != ''">  description = #{description}, </if>
			 <if test="creater != null and creater != ''">  creater = #{creater} ,</if>
			 <if test="createDate != null">  create_date = #{createDate}, </if>
			 <if test="state != null and state != ''">  state = #{state}, </if>
			 <if test="audiences != null and audiences != ''">  audiences = #{audiences} ,</if>
			 <if test="type != null and type != ''">  type = #{type} ,</if>
			 <if test="belongOrg != null and belongOrg != ''">  belongOrg = #{belongOrg} ,</if>
			 <if test="belongOrgLevel != null and belongOrgLevel != ''">  belong_org_level = #{belongOrgLevel}, </if>
			 <if test="makeCycle != null and makeCycle != ''">  make_cycle = #{makeCycle}, </if>
 		 </set>
		 WHERE enterprise_report_template_id = #{enterpriseReportTemplateId}
	</update>

</mapper>