<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-machine-edit" th:object="${machine}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">集群名称：</label>
                <div class="col-sm-8">
                    <input id="groupName" name="groupName" th:field="*{groupName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">IP地址：</label>
				<div class="col-sm-8">
                    <input id="ip" name="ip" th:field="*{ip}" class="form-control" type="text" required>
				</div>
			</div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">命令语句：</label>
                <div class="col-sm-8">
                    <input id="content" name="content" th:field="*{content}" type="hidden">
                    <div id="editor" class="summernote" style="width: 1000px"></div>
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_notice_status')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
    <script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
    <script type="text/javascript">
        var prefix = ctx + "loggetter/machine";
    
	    $(function() {
		    $('.summernote').summernote({
		    	height : '220px',
				lang : 'zh-CN',
				callbacks: {
	                onImageUpload: function (files) {
	                    sendFile(files[0], this);
	                }
	            }
		    });
			var content = $("#content").val();
		    $('#editor').summernote('code', content);
	    });
	    
	    // 上传文件
	    function sendFile(file, obj) {
	        var data = new FormData();
	        data.append("file", file);
	        $.ajax({
	            type: "POST",
	            url: ctx + "common/upload",
	            data: data,
	            cache: false,
	            contentType: false,
	            processData: false,
	            dataType: 'json',
	            success: function(result) {
	                if (result.code == web_status.SUCCESS) {
	                	$(obj).summernote('editor.insertImage', result.url, result.fileName);
					} else {
						$.modal.alertError(result.msg);
					}
	            },
	            error: function(error) {
	                $.modal.alertWarning("上传失败。");
	            }
	        });
	    }
	    
		$("#form-machine-edit").validate({
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	var sHTML = $('.summernote').summernote('code');
				$("#content").val(sHTML);
				$.operate.save(prefix + "/edit", $('#form-machine-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
