<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/jquery-layout/jquery.layout-latest.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="gray-bg">
<div class="container-div ui-layout-center">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="report-form">
                <div class="select-list">
                    <ul>
                        <li>
                            企业指标模板名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            展现方式：<input type="text" name="showWay"/>
                        </li>
                        <li>
                            归属的列或行：<input type="text" name="belongQueue"/>
                        </li>
                        <li>
                            在行和列的排序序号：<input type="text" name="sn"/>
                        </li>
                        <li>
                            groupName：<input type="text" name="groupName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/jquery-layout/jquery.layout-latest.js}"></script>

<script th:inline="javascript">
    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });
        queryReportList();
    });

    function queryReportList() {
        var options = {
            url: ctx + "enterprise/targetTemplate/list",
            sortName: "enterpriseTargetTemplateId",
            sortOrder: "desc",
            modalName: "企业指标模板",
            columns: [
                {
                    field: 'selectItem',
                    radio: true
                },
                {
                    field: 'enterpriseTargetTemplateId',
                    title: '企业指标模板编号',
                    visible: false
                },
                {
                    field: 'enterpriseReportTemplateId',
                    title: '企业报告模板编号',
                    visible: false
                },
                {
                    field: 'targetModelTemplateId',
                    title: '指标模板编号',
                    visible: false
                },
                {
                    field: 'name',
                    title: '企业指标模板名称'
                },
                {
                    field: 'enterpriseId',
                    title: '公司编号',
                    visible: false
                },
                {
                    field: 'showWay',
                    title: '展现方式'
                },
                {
                    field: 'belongQueue',
                    title: '归属的列或行'
                },
                {
                    field: 'sn',
                    title: '在行和列的排序序号'
                },
                {
                    field: 'groupName',
                    title: 'groupName'
                },
                {
                    field: 'templateContent',
                    title: '文本内容',
                    visible: false
                }]
        };
        $.table.init(options);
    }
    function submitHandler() {
        var url = [[${enterpriseReportModelId}]] == 0 ? 'getSingleModelDisplay' : 'addSaveTargetModel';
        $.operate.selectEnterpriseTargetTempSuccess(url, [[${enterpriseReportModelId}]]);
    }
</script>
</body>
</html>
