<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="form-content">
    <form id="export-ETMLModel" class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>选择企业：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select id="enterpriseIdSelect" class="form-control m-b" name="enterpriseId" th:with="enterpriseList=${enterpriseList}" required>
                                <option value="">未选择</option>
                                <option th:each="enterprise : ${enterpriseList}" th:text="${enterprise.name}" th:value="${enterprise.enterpriseId}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="entReportTempDiv" style="display: none;" >
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>选择企业报告模板：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select id="entReportTempSelect" class="form-control m-b" name="enterpriseReportTemplateId" required>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="entTargetTempDiv" style="display: none;" >
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>选择企业指标模板：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select id="entTargetTempSelect" class="form-control m-b" name="enterpriseTargetTemplateId" required>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>

    function submitHandler() {
        if ($.validate.form()) {
            var data = $('#export-ETMLModel').serializeArray();
            console.log("data = ", data);
            //$.operate.saveTab(ctx + "enterprise/reportTemplate/save", data);
        }
    }

    //由 企业 触发 该企业的报告模板
    $('#enterpriseIdSelect').change(function () {
        var enterpriseId = $(this).children('option:selected').val();
        if ($.common.isEmpty(enterpriseId)) {
            $.modal.alertWarning("请选择企业");
            return;
        }
        $.ajax({
            url: ctx + "getEntReportTemp",
            type: "POST",
            data: "enterpriseId=" +  enterpriseId,
            success: function (result) {
                $('#entReportTempDiv').css('display', 'block');
                var entReportTempSelect = document.getElementById('entReportTempSelect');
                entReportTempSelect.innerHTML = '';
                entReportTempSelect.append(new Option("未选择", ""));
                $.each(result.entReportTempList,function (index, entReportTemp) {
                    entReportTempSelect.options.add(new Option(entReportTemp.name,entReportTemp.enterpriseReportTemplateId));
                });

            }
        });
    });

    //由 该企业的报告模板 触发 该企业的指标模板
    $('#entReportTempSelect').change(function () {
        var entReportTempId = $(this).children('option:selected').val();
        if ($.common.isEmpty(entReportTempId)) {
            $.modal.alertWarning("请选择企业报告模板");
            return;
        }
        $.ajax({
            url: ctx + "getEntTargetTemp",
            type: "POST",
            data: "entReportTempId=" +  entReportTempId,
            success: function (result) {
                $('#entTargetTempDiv').css('display', 'block');
                var entTargetTempSelect = document.getElementById('entTargetTempSelect');
                entTargetTempSelect.innerHTML = '';
                entTargetTempSelect.append(new Option("未选择", ""));
                $.each(result.entTargetTempList,function (index, entTargetTemp) {
                    entTargetTempSelect.options.add(new Option(entTargetTemp.name,entTargetTemp.enterpriseTargetTemplateId));
                });
            }
        });
    });

</script>
</body>
</html>
