<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8" content="multipart/form-data">
<head th:include="include :: header"></head>
<body>
    <div class="form-content">
        <form id="form-enterprise-add" class="form-horizontal"  enctype="multipart/form-data">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>企业名称：</label>
                        <div class="col-sm-8">
                            <input name="name" autocomplete="off" placeholder="请输入企业名称" class="form-control" type="text" maxlength="80" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>企业所在地：</label>
                        <div class="col-sm-8">
                            <input name="address" autocomplete="off" placeholder="请输入企业所在地" class="form-control" type="text" maxlength="80" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">社会统一信用代码：</label>
                        <div class="col-sm-8">
                            <input name="uscd" oninput="value=value.replace(/[^\d]/g,'')" autocomplete="off" placeholder="请输入社会统一信用代码" class="form-control" type="text" maxlength="20">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-sm-8">
                            企业logo:<input name="logo" type="file" accept="image/*"  onchange="submitHandlerlogo()"  multiple="multiple" id="image">
                            <!--图片回显-->
                            <img id="showImg" style="width: 80px;height: 80px">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
     <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
     </div>
	 <div th:include="include::footer"></div>

    <script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        var prefix = ctx + "enterprise";
        $("#form-enterprise-add").validate({
            //对input输入框相对应的字段属性进行控制
            onkeyup: false,
            rules:{
                name:{
                    minlength: 2,
                    maxlength: 80
                },
                address:{
                    minlength: 2,
                    maxlength: 80
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-enterprise-add").serializeArray();
                var formElement = document.querySelector("#form-enterprise-add");
                var formData = new FormData(formElement);
                $.ajax({
                    url: ctx + "enterprise/add",
                    data: formData,
                    type: 'POST',
                    processData: false,  // 告诉jQuery不要去处理发送的数据
                    contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            window.location.href = prefix + "/addUser" + "?enterpriseId=" + result.enterpriseId;
                        }
                    }
                });
                return false;
            }
        }
        //上传图片操作，包括对上传的文件进行图片格式控制以及回显
        function submitHandlerlogo() {
            var _name, _fileName, personsFile;
            personsFile = document.getElementById("image");
            _name = personsFile.value;
            _fileName = _name.substring(_name.lastIndexOf(".") + 1).toLowerCase();
            if (_fileName !== "png" && _fileName !== "jpg" && _fileName !== "gif" && _fileName !== "jpeg") {
                alert("上传图片格式不正确，请重新上传");
            }else {
                document.getElementById("showImg").src = window.URL.createObjectURL(image.files[0]);
            }
            var formElement = document.querySelector("#form-enterprise-add");
            var formData = new FormData(formElement);
                $.ajax({
                    url: ctx + "enterprise/addlogo",
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (result) {
                        console.log(result);
                    }
                })
        }
    </script>
</body>
</html>
