<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
    <div class="form-content">
        <form id="form-enterprise-addUser" class="form-horizontal"   enctype="multipart/form-data">
            <input type="hidden" id="enterpriseId" name="enterpriseId">
            <h4 class="form-header h4">管理员信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>姓名：</label>
                        <div class="col-sm-8">
                            <input name="name" autocomplete="off" placeholder="请输入姓名" class="form-control" type="text" maxlength="10" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>账号：</label>
                        <div class="col-sm-8">
                            <input name="account" autocomplete="off" placeholder="账号=邮箱" class="form-control" type="text" maxlength="20" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>密码：</label>
                        <div class="col-sm-8">
                            <input name="password" autocomplete="off" placeholder="请输入密码" class="form-control" type="text" maxlength="40" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">手机号：</label>
                        <div class="col-sm-8">
                            <input name="phone" autocomplete="off" class="form-control " type="text" maxlength="11" placeholder="请输入手机号">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">工号：</label>
                        <div class="col-sm-8">
                            <input name="jobNumber" autocomplete="off" class="form-control " type="text" maxlength="20" placeholder="请输入工号">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">微信号：</label>
                        <div class="col-sm-8">
                            <input name="wxOpenId" autocomplete="off" placeholder="请输入微信号" class="form-control" type="text" maxlength="40">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">qq号：</label>
                        <div class="col-sm-8">
                            <input name="qicq" autocomplete="off" class="form-control " type="text" maxlength="15" placeholder="请输入qq号">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="col-sm-8">
                            微信头像:<input name="wxChatHead" onchange="submitHandlerlogo()" type="file" id="image" accept="image/*"  multiple="multiple" >
                            <img id="showImg" style="width: 80px;height: 80px">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
     <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        </div>
     </div>
	 <div th:include="include::footer"></div>

    <script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
	    var prefix = ctx + "enterprise";
        $("#form-enterprise-addUser").validate({
            onkeyup: false,
            rules:{
                name:{
                    minlength: 2,
                    maxlength: 10
                },
                password:{
                    minlength: 6,
                    maxlength: 40
                },
                account:{
                    email:true,
                    remote: {
                        url: prefix + "/checkEmailUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            name: function () {
                                return $.common.trim($("#account").val());
                            }
                        },
                        dataFilter: function (data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
                email:{
                    email:true
                },
                phone:{
                    isPhone:true
                }
            },
            messages: {
                "account": {
                    remote: "用户已经存在"
                },
                "email": {
                    remote: "Email已经存在"
                },
                "phone":{
                    remote: "手机号码已经存在"
                }
            },
            focusCleanup: true
        });

        var urlParam = decodeURI(window.location.href.split("?")[1]);
        var enterpriseId = urlParam.split("enterpriseId=")[1];

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-enterprise-addUser").serializeArray();
                $("#enterpriseId").val(enterpriseId);
                var formElement = document.querySelector("#form-enterprise-addUser");
                var formData = new FormData(formElement);
                $.ajax({
                    url: ctx + "enterprise/addUser",
                    data: formData,
                    type: 'POST',
                    processData: false,  // 告诉jQuery不要去处理发送的数据
                    contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                    success: function (result) {
                        if (result.code == web_status.SUCCESS) {
                            debugger
                                var topWindow = $(window.parent.parent.document);
                                var currentId = $('.page-tabs-content', topWindow).find('.active').attr('data-panel');
                                var $contentWindow = $('.RuoYi_iframe[data-id="' + currentId + '"]', topWindow)[0].contentWindow;
                                $.modal.close();
                                $contentWindow.$.modal.msgSuccess(result.msg);
                                $contentWindow.$(".layui-layer-padding").removeAttr("style");
                                if ($contentWindow.$.table._option.type == table_type.bootstrapTable) {
                                    $contentWindow.$.table.refresh();
                                } else if ($contentWindow.$.table._option.type == table_type.bootstrapTreeTable) {
                                    $contentWindow.$.treeTable.refresh();
                                }
                                closeItem();
                            } else {
                                $.modal.alertError(result.msg);
                            }
                            $.modal.closeLoading();
                        }
                });
                return false;
            }
	    }
        function submitHandlerlogo() {
            var _name, _fileName, personsFile;
            personsFile = document.getElementById("image");
            _name = personsFile.value;
            _fileName = _name.substring(_name.lastIndexOf(".") + 1).toLowerCase();
            if (_fileName !== "png" && _fileName !== "jpg" && _fileName !== "gif" && _fileName !== "jpeg") {
                alert("上传图片格式不正确，请重新上传");
            }else {
                document.getElementById("showImg").src = window.URL.createObjectURL(image.files[0]);
            }
            var formElement = document.querySelector("#form-enterprise-addUser");
            var formData = new FormData(formElement);
            console.log(formData)
            $.ajax({
                url: ctx + "enterprise/addwxChatHead",
                data: formData,
                type: 'POST',
                contentType: false,
                cache: false,
                processData: false,
                success: function (result) {
                    console.log(result);
                }
            })
        }

    </script>
</body>
</html>
