<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
    <div class="form-content">
        <form id="form-enterprise-add" class="form-horizontal">
            <h1 class="form-header h1">企业信息添加成功</h1>
     <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>设置企业管理员</button>&nbsp;
        </div>
     </div>
	 <div th:include="include::footer"></div>

    <script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
	    var prefix = ctx + "enterprise";
        console.log(window.location.href);
        var urlParam = decodeURI(window.location.href.split("?")[1]);
        console.log(urlParam);
        var enterpriseId = urlParam.split("enterpriseId=")[1];
        console.log(enterpriseId);

        function submitHandler() {
	        if ($.validate.form()) {
	        	var data = $("#form-enterprise-add").serializeArray();
                window.location.href = prefix + "/addUser"+"?"+urlParam;
            }

	    }

    </script>
</body>
</html>
