<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8" content="multipart/form-data">
<head th:include="include :: header"></head>
<body>
    <div class="form-content">
        <form class="form-horizontal" id="form-targetMakeLineModel-edit"  th:object="${targetMakeLineModel}" >
            <input name="targetMakeLineModelId"  type="hidden"  th:field="*{targetMakeLineModelId}" />
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>指标模型id：</label>
                        <div class="col-sm-8">
                            <input name="targetModelId" autocomplete="off" placeholder="请输入指标模型id" class="form-control" type="text" maxlength="40"  th:field="*{targetModelId}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>指标模型模板id：</label>
                        <div class="col-sm-8">
                            <input name="targetModelTemplateId" autocomplete="off" placeholder="请输入指标模型模板id" class="form-control" type="text" maxlength="80" th:field="*{targetModelTemplateId}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>标记线名称：</label>
                        <div class="col-sm-8">
                            <input name="lineName" autocomplete="off" placeholder="请输入标记线名称" class="form-control" type="text" maxlength="40" required th:field="*{lineName}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>描述：</label>
                        <div class="col-sm-8">
                            <input name="description" autocomplete="off" placeholder="请输入描述" class="form-control" type="text" maxlength="80" th:field="*{description}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">默认值：</label>
                        <div class="col-sm-8">
                            <input name="defaultvalue"  autocomplete="off" placeholder="请输入默认值" class="form-control" type="number" oninput="if(value.length>4)value=value.slice(10,4)" th:field="*{defaultvalue}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script>
        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-targetMakeLineModel-edit").serializeArray();
                $.operate.saveTab(ctx + "targetMakeLineModel/editSave", data);
            }
        }
    </script>
</body>
</html>