<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="form-content">
    <form id="form-targetModel-add" class="form-horizontal">
        <h4 class="form-header h4">平台指标展示模型基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>名称：</label>
                    <div class="col-sm-8">
                        <input name="name" autocomplete="off" placeholder="请输入平台指标展示模型名称" class="form-control" type="text" maxlength="20" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>平台指标模型：</label>
                    <div class="col-sm-6">
                        <input name="targetModelId" th:value="${id}" class="form-control templateId" type="hidden">
                        <input th:value="${name}" class="form-control templateName" placeholder="请点击右侧按钮进行选择" readonly required>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-success btn-sm" onclick="$.operate.selectTargetModel('平台指标模型','toAddTargetModelPage/0/999')">
                            <i class="fa fa-plus"></i> 请选择
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>展现形式：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="showWay" class="form-control m-b" th:with="type=${@fangCloudDict.getType('TargetShowWay')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">归属行或列：</label>
                    <div class="col-sm-8">
                        <input name="belongQueue" autocomplete="off" placeholder="请输入归属行或列" class="form-control" type="text" maxlength="10">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">展示顺序：</label>
                    <div class="col-sm-8">
                        <input name="sn" autocomplete="off" placeholder="请输入展示顺序" class="form-control" type="text" maxlength="10">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>模板内容：</label>
                    <div class="col-sm-8">
                        <textarea id="templateContentArea" rows="20" cols="50%" style="resize: none"></textarea>
                        <input id="templateContent" name="templateContent" type="text" hidden>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>模板全量内容：</label>
                    <div class="col-sm-8">
                        <textarea id="fullTemplateContentArea" rows="20" cols="50%" style="resize: none"></textarea>
                        <input id="fullTemplateContent" name="fullTemplateContent" type="text" hidden>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>

    function submitHandler() {
        if ($.validate.form()) {
            var templateContent = $('#templateContentArea').val();
            var fullTemplateContent = $('#fullTemplateContentArea').val();
            try {
                $('#templateContent').val(JSON.stringify(JSON.parse(templateContent)));
            }catch (e) {
                $.modal.alertWarning("模板内容不符合json格式");
                return;
            }
            try {
                $('#fullTemplateContent').val(JSON.stringify(JSON.parse(fullTemplateContent)));
            }catch (e) {
                $.modal.alertWarning("模板全量内容不符合json格式");
                return;
            }

            var data = $("#form-targetModel-add").serializeArray();
            $.operate.saveTab(ctx + "targetModelContentTemplate/save", data);
        }
    }

    function changeDisplay(id, name) {
        $('.templateId').attr("value",id);
        $('.templateName').attr("value",name);
    }

</script>
</body>
</html>
