<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
<div class="form-content">
    <form id="form-targetModel-add" class="form-horizontal">
        <h4 class="form-header h4">平台指标模型基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>名称：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="name" id="nameSelect" class="form-control m-b" th:with="targetWarehouseList=${@platformDict.getAllTargetWarehouse()}" required>
                                <option value="">未选择</option>
                                <option th:each="target : ${targetWarehouseList}" th:text="${target.name}" th:value="${target.name}" th:attr="code=${target.collationCode},level=${target.level}" ></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">描述：</label>
                    <div class="col-sm-8">
                        <input name="description" autocomplete="off" placeholder="请输入描述信息" class="form-control" type="text" maxlength="40">
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>抽象水平：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="level" class="form-control m-b" th:with="type=${@fangCloudDict.getType('TargetModelLevel')}" required>
                                <option value="">未选择</option>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>状态：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="state" class="form-control m-b" th:with="type=${@fangCloudDict.getType('TargetModelState')}" required>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">子指标模型：</label>
                    <div class="col-sm-6">
                        <input name="childModelId" th:value="${id}" class="form-control templateId" type="hidden">
                        <input th:value="${name}" class="form-control templateName" placeholder="请点击右侧按钮进行选择" readonly>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-success" onclick="$.operate.selectTargetModel('平台指标模型','toAddTargetModelPage/0/999')">
                            <i class="fa fa-plus"></i> 请选择
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>生成周期：</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width: 100%">
                            <select name="makeCycle" class="form-control m-b" th:with="type=${@fangCloudDict.getType('TargetModelMakeCycle')}" required>
                                <option th:each="fangCloudDict : ${type}" th:text="${fangCloudDict.valueDesc}" th:value="${fangCloudDict.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script>

    function submitHandler() {
        if ($.validate.form()) {
            var collationCode = $("#nameSelect").find("option:selected").attr("code");
            var level = $("#nameSelect").find("option:selected").attr("level");

            var data = $("#form-targetModel-add").serializeArray();
            data.push({"name" : "collationCode", "value" : (typeof collationCode) == 'undefined' ? '':collationCode});
            data.push({"name" : "level", "value" : (typeof level) == 'undefined' ? '1':level});

            $.operate.saveTab(ctx + "targetModel/save", data);
        }
    }

    function changeDisplay(id, name) {
        $('.templateId').attr("value",id);
        $('.templateName').attr("value",name);
    }
</script>
</body>
</html>
